<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-metimage</symbolicName>
    <version>1.0-SNAPSHOT</version>
    <name>METIMAGE</name>

    <description>
        <![CDATA[
            <p>todo</p>
            <p>Software: O.Danne, M.Zuehlke of Brockmann Consult</p>
    ]]>
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2013 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
        <p>Changes in version 1.0<br/>
        - Initial version
        </p>
        ]]>
    </changelog>

    <dependency>
    </dependency>

    <categories>Processor</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>metImage</id>
            <class>org.esa.beam.metimage.ui.MetImageAction</class>
            <text>MetImage Cloud (MODIS)...</text>
            <shortDescr>MetImage Cloud (MODIS)</shortDescr>
            <longDescr>MetImage Cloud (MODIS).</longDescr>
            <mnemonic/>
            <parent>tools</parent>
            <helpId>MetImageProcessorPlugIn</helpId>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/MetImageProcessor.hs</path>
        </helpSet>
    </extension>

</module>
